

body {
    background-color: black;
  
}

header {
    display: flex;
    justify-content: space-between;
     background: linear-gradient(45deg,rgb(234, 158, 246),rgba(0, 0, 255, 0.557));
    height: 100px;
    width: 100vw;
   
}

header h1 {
    display: inline-block;
    justify-content: left;
    align-self: flex-start;
    color: antiquewhite;
    font-size: 30px;
    font-style: italic;
    font-weight: lighter;
    margin-top: 20px;
    margin-left: 20px;
    
}

header nav {
    
    align-self: flex-end;
    right: 20px;
    bottom: 10px;
    font-variant-caps: all-small-caps;
    
    font-style: italic;
    font-size: 20px;

}

header nav ul {
    list-style-type: none;
    
}
header nav li {
    
    display: inline-block;
    padding: 5px;
    margin-left: 5px;
    margin-right: 15px;
    margin-bottom: 10px;

}

header a {
    color:aliceblue;
    text-decoration: none;
}



main {
display: flex;
flex-direction: column;
flex-wrap: wrap;


}
section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
  padding: 10px;
  margin-left: 10px;
  margin-top: 10px;
  
}

section .container .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: lighter;

}


div{
    display: inline-block;
}



.title {
    display:inline-block;
    
    width: 20%;
    height: 100%;
    text-align: right;
   
    margin-right: 10px;
 }

.title h2 {
    font-size: 25px;
    color: rgb(234, 158, 246);
    font-style: italic;
}

.content {
    display: flexbox;
    flex-direction: row;

    width: 74%;
    height: 100%;
    padding: 10px;
    border-left: navy  solid 3px;
    border-bottom: navy  solid 3px;

}

.container{
    background-color: rgba(0, 0, 255, 0.557, 0.5);
    display: flex;
    flex-wrap: wrap;

}

section a:hover {
    text-decoration: underline;
    color: aqua;
    
  }

#about img {
    display: inline-block;
    max-width: 10vw;
    
    margin-left: 10px;
    margin-top: 10px;
 }

#information {
   
    background-color: rgb(216, 231, 244);
    margin: 10px;
    padding: 10px;
}   



article{
   background-color: rgb(234, 158, 246, 0.5);
   padding: 10px;
   width: 390px;
   margin: 10px;
}

/* Article img for coming soon */
.float-center {
    float: center;
    width: 350px;
    height: 30vh;
    margin: 10px;
}
/*project title and description*/
.project-title {
    position:relative;
    bottom:57px;
    left: -10px;
    background-color:rgb(216, 231, 244) ;
    padding: 5px;
    z-index: 10;
}

/*Article header*/
article h2 {
    font-size: 20px;
    color: rgba(37, 35, 35, 0.933);
    font-style: italic;
    margin: 10px;
    }

  /*article img/link*/  
 .project01 a{
  background-image: url("../images/accessibility.png");
  position: relative;
  z-index: 0;
    display:block;
    height: 30vh;
    width: 350px;
    margin: 10px;
}

.project02 a{
    background-image: url("../images/mini-project.png");
      display:block;
      height: 30vh;
      width: 350px;
      margin: 10px;
  }

  
  
 article p {
    font-size: 15px;
    margin-left: 10px;
    
 }


 article:hover {
    transform: scale(110%);
    transform-origin: initial;
    align-items: center;
   /* box-shadow: 5px 5px 15px  rgba(0, 0, 255, 0.557);*/
    background-color: rgb(234, 158, 2464, 1.0);
 }

#contacts nav {
    position: relative;
    
}

#contacts nav ul {
    list-style: none;
}
#contacts nav ul li {
 display: inline-block;
 padding: 10px;
margin-left: 20px;
}
 
#contacts nav ul li a{
    color: rgba(234, 158, 246);
    text-decoration: none;
    font-size: larger;
    font-style: oblique;
}

#contacts nav ul li a:hover {
  text-decoration: underline;
  color: aqua;
}



@media screen and (max-width: 768px;) {
section {
        display: flex;
        flex-direction: column-reverse;
    }
.title {
        display: block;
        flex: 5 0 ;
        width: 350px;
        height: 50px;
        text-align: right;
       
        margin-right: 10px;

     }
 .content {
        
        width: 90vw;
        height: 100%;

    }



} 
